.footer-ayr{
    background: #d3d3d3;
    color: #006666;
    padding: 2vw;
    line-height: 1.7em;
}
.footer-ayr a{
    text-decoration: none;
    font-family: "Montserrat";
    color: #006666;
    margin-right: 0.5em;
}
.footer-ayr a:hover{
    color: #014c4c;
}