.header_gobierno .nav-link{
  color: #bb264e !important;
}


html {
  scroll-behavior: smooth;
}


.quien_eres{
  text-align: center;
  padding: 3vw;
  font-size: 2.5em;
  background: #efefef;
  color: #606060;
}
.quien_eres img{
  width: 50px;
}


.ageBotonera{
  text-align: center;
}
.ageBtn{
  display: inline-block;
  margin:0;
  width: 19vw;
  color: #fff;
  font-size: 1.3em;
  height: 500px;
  overflow: hidden;
  -webkit-transition: width 0.5s ease-in-out, font-size 0.7s;
  -moz-transition: width 0.5s ease-in-out, font-size 0.7s;
  -o-transition: width 0.5s ease-in-out, font-size 0.7s;
  transition: width 0.5s ease-in-out, font-size 0.7s;
}
.ageBtn img{
  width: 70%;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
}
.ageBtn button{
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.ageBotonera #primera {
background:#99cd33;
padding-top: 3.5vw;
padding-left: 0vw;
}
.ageBotonera #segunda {
background:#006666;
padding-top: 3.5vw;
padding-left: 0vw;
}
.ageBotonera #tercera {
background:#0099cc;
padding-top: 3.5vw;
padding-left: 0vw;
}
.ageBotonera #forma {
background:#993266;
padding-top: 3.5vw;
padding-left: 0vw;
}
.ageBtn.active{
  width: 39vw;
  font-size: 2.2em;
}
.ageBtn.active img{
  width: 60%;
} 
.ageBtn.active button{
  opacity: 1;
  pointer-events: auto;
}


.banner_block{
  background: #000;
  text-align: center;
  height: 25vh;
}