.action_menu_block{
text-align: center;
padding: 2vw 8vw;
}
.action_menu_block .menu_btn_container{

}
.action_menu_block .menu_btn_container img{
    width: 80%;
    cursor: pointer;
}
.action_menu_block.mobile .menu_btn_container img{
    width: 65%;
}
@media (max-width: 768px) { 
    .action_menu_block{
        padding: 4vw 5vw;
    }
}
@media (max-width: 577px) { 
    .action_menu_block{
        padding: 6vw 8vw 4vw 8vw;
    }
    .action_menu_block.mobile .menu_btn_container img{
        width: 85%;
    }
}


.action_menu_block .menu_btn_container img.color{
    opacity: 0;
    margin-top: -7vw;
    width: 75%;
}
.action_menu_block.mobile .menu_btn_container img.color{
    margin-top: -16vw;
    width: 62%;
}
@media (max-width: 577px) { 
    .action_menu_block.mobile .menu_btn_container img.color{
        margin-top: -19vw;
        width: 82%;
    }
    .action_menu_block.mobile .menu_btn_container div{
        margin-top: -1em;
    }
}

.action_menu_block .menu_btn_container.active img.claro{
    opacity: 0;
}
.action_menu_block .menu_btn_container.active img.color{
    opacity: 1;
}


.search_block{
    padding: 3vw 4vw;
}   




.action_menu_block2 .menu_btn_container.alternative{
    text-align: center;
    margin-top: 2em;
}
.action_menu_block2 .menu_btn_container.alternative.active{
    border-bottom: solid 0.25em;
}
.action_menu_block2 .menu_btn_container.alternative:hover{
    opacity: 0.8;
}
.action_menu_block2.age_1 .menu_btn_container.alternative.active{
    border-bottom-color: #99cc33;
}
.action_menu_block2.age_2 .menu_btn_container.alternative.active{
    border-bottom-color: #006666;
}
.action_menu_block2.age_3 .menu_btn_container.alternative.active{
    border-bottom-color: #0099cc;
}
.action_menu_block2.age_4 .menu_btn_container.alternative.active{
    border-bottom-color: #993266;
}

