.shelf_container {
    background: #fff;
    padding: 0 0 1em 0;
}

.shelf_container .icon_container {
    padding: 1em 1em;
}
.shelf_container .icon_container{
    display: flex;
}
.shelf_container .icon_container .icon img {
    width: 80px;
    height: 80px;
}
.shelf_container .icon_container .name {
    font-size: 1.3em;
    font-family: "Montserrat-bold";
    padding: 1em 1em;
    line-height: 1.2;
}

.shelf_container .separator{
    background: #fff;
    color: #fff;
    min-height: 1em;
    text-align: center;
    font-size: 1.3em;
    font-family: "Montserrat-bold";
    padding: 0.2em;
}
.shelf_container.age_1 .separator{  background-color:#99cd33;   }
.shelf_container.age_2 .separator{  background-color:#006666;   }
.shelf_container.age_3 .separator{  background-color:#0099cc;   }
.shelf_container.age_4 .separator{  background-color:#993266;   }

.shelf_container .folleto_container,
.shelf_container .libro_container{
    display: block ruby;
    padding: 2em 3em;
    overflow-x: auto;
}

.shelf_container .folleto_container .book_card,
.shelf_container .libro_container .book_card{
    width: 8em;
    margin: 0 2em;
    cursor: pointer;
    box-shadow: 5px 11px 11px -4px rgba(114,114,114,0.75);
    -webkit-box-shadow: 5px 11px 11px -4px rgba(114,114,114,0.75);
    -moz-box-shadow: 5px 11px 11px -4px rgba(114,114,114,0.75);
}
.shelf_container .folleto_container .book_card:hover,
.shelf_container .libro_container .book_card:hover{
    opacity: 0.7;
}

.book_card .image {
    max-height: 10em;
    overflow: hidden;
}
.book_card .image img{
    width: 100%;
}
.book_card .name {
    padding: 1em;
    text-align: center;
    font-family: "Montserrat";
}