.comp_videos{

}
.comp_videos .player_container{
    padding: 0;
}
.comp_videos .player_container iframe{
    width: 100%;
    height: 350px;
}
.comp_videos .player_container .video_info{
    padding: 0.5em 1em;
    text-align: justify;
    margin-bottom: 2vw;
}



.comp_videos .video_list_container{
    height: 350px;
    overflow: auto;
}
.comp_videos .video_list_container .playList_button{
    color: #fff;
    padding: 1.5em;
    font-size: 1.2em;
    cursor: pointer;
}

.comp_videos.age_1 .video_list_container .playList_button{
    background: #99cc33;
}
.comp_videos.age_2 .video_list_container .playList_button{
    background: #006666;
}
.comp_videos.age_3 .video_list_container .playList_button{
    background: #0099cc;
}
.comp_videos.age_4 .video_list_container .playList_button{
    background: #993266;
}

.comp_videos .video_list_container .playList_button:hover{
    opacity: 0.7;
}

.comp_videos .video_list_container .playList_container{
    padding: 0;
    height: auto;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;
    transition: max-height 0.5s;
}
.comp_videos .video_list_container .playList_container.active{
    max-height: 10000vh;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;
    transition: max-height 0.5s;
}


.comp_videos .video_list_container .typeList_button{
    background: #4d4d4d;
    cursor: pointer;
    padding: 0.5vw 2vw 2vw 2vw;
    color: #fff;
}
.comp_videos .video_list_container .typeList_button:hover{
    opacity: 0.8;
}
.comp_videos .video_list_container .vid_count{
    background: #fff;
    color: #404040;
    border-radius: 10px;
    text-align: center;
    font-size: 0.7em;
    position: absolute;
    right: 2.5em;
    bottom: 0.5em;
    padding: 0.1em 1em;
}
.comp_videos .video_list_container .typeList_container{
    padding: 0;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;
    transition: max-height 0.5s;
}
.comp_videos .video_list_container .typeList_container.active{
    max-height: 10000vh;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;
    transition: max-height 0.5s;
}


.comp_videos .video_list_container .track_button{
    background: #fff;
    color: #606060;
    font-family: 'Montserrat';
    padding: 1em;
    text-align: justify;
    cursor: pointer;
}
.comp_videos .video_list_container .track_button:hover{
    background: #f2f2f2;
}
.comp_videos .video_list_container .track_button.active{
    background: #d9d9d9;
}


.vid_list .vid_card{
    margin-bottom: 2vw;
    cursor: pointer;
}
.vid_list .vid_card:hover{
    opacity: 0.7;
}
.vid_list .vid_card img{
    width: 100%;
}
.vid_list .vid_card .type{
    color: #606060;
    font-family: "Montserrat";
    letter-spacing: 1.5px;
}
.vid_list .vid_card .title{
    font-size: 1.1em;
}
.vid_list .vid_card .description{
    font-family: "Montserrat";
    font-size: 0.8em;
    text-align: justify;
}

.age_1 .vid_list .vid_card .title{
    color: #99cc33;
}
.age_2 .vid_list .vid_card .title{
    color: #006666;
}
.age_3 .vid_list .vid_card .title{
    color: #0099cc;
}
.age_4 .vid_list .vid_card .title{
    color: #993266;
}



@media (max-width: 768px) { 
    .comp_videos .player_container iframe{
        width: 100vw;
        height: 450px;
    }
    .comp_videos .player_container .video_info{
        padding: 1.5em 2.5em;
    }
    .comp_videos .video_list_container{
        padding: 0 5vw;
        height: 400px;
        margin-bottom: 4vw;
    }
    .comp_videos .video_list_container .typeList_button{
        padding: 2vw 5vw;
    }
    .comp_videos .video_list_container .track_button{
        padding: 1em;
        font-size: 0.9em;
        text-align: left;
    }
}   
@media (max-width: 577px) { 
    .comp_videos .player_container iframe{
        width: 100vw;
        height: 200px;
    }
    .comp_videos .player_container .video_info{
        padding: 1em 2em;
        font-size: 0.9em;
    }
    .comp_videos .video_list_container .playList_button{
        padding: 1em;
    }
    .comp_videos .video_list_container{
        padding: 0 15vw;
        height: 300px;
    }
    .comp_videos .video_list_container .typeList_button{
        padding: 2vw 8vw;
        font-size: 0.9em;
    }

    .vid_list .vid_card{
        margin-bottom: 4vw;
        background-color: #fff;
        display: flex;
        padding: 2vw 0;
        -webkit-box-shadow: 0px 4px 5px 0px rgba(150,150,150,1);
        -moz-box-shadow: 0px 4px 5px 0px rgba(150,150,150,1);
        box-shadow: 0px 4px 5px 0px rgba(150,150,150,1);
    }
    .vid_list .vid_card .img_container{
        width: 35%;
        display: inline-block;
    }
    .vid_list .vid_card .info_container{
        width: 60%;
        display: inline-block;
        padding: 0 2vw;
    }
    .vid_list .vid_card .description{
        font-family: "Montserrat";
        font-size: 0.8em;
        text-align: justify;
    } 
}








.vidShowContainer {
    text-align: center;
}
#vidShowBtn {
    background: #d3d3d3;
    padding: 1.2vw 4vw;
    border: none;
    font-size: 1.2em;
    margin-bottom: 2vw;
}
#vidShowBtn:hover {
    opacity: 0.7;
}


.component_container .vid_2{
    padding: 0 0;
}
.vid_2 .vid_card{
    margin-bottom: 2vw;
    cursor: pointer;
}
.vid_2 .vid_card:hover{
    opacity: 0.7;
}
.vid_2 .vid_card img{
    width: 100%;
}
.vid_2 .vid_card .type{
    color: #606060;
    font-family: "Montserrat";
    letter-spacing: 1.5px;
}
.vid_2 .vid_card .title{
    font-size: 1.1em;
}
.vid_2 .vid_card .description{
    font-family: "Montserrat";
    font-size: 0.8em;
    text-align: justify;
}

.age_1 .vid_2 .vid_card .title{
    color: #99cc33;
}
.age_2 .vid_2 .vid_card .title{
    color: #006666;
}
.age_3 .vid_2 .vid_card .title{
    color: #0099cc;
}
.age_4 .vid_2 .vid_card .title{
    color: #993266;
}


.vid_player2_screen{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    width: 100vw;
    height: 100vh;
    z-index: 2;
}
.vid_player2_screen .vid_player2_container{
    position: absolute;
    top: 15%;
    left: 10%;
    width: 90vw;
    height: 30em;
}
.vid_player2_screen .vid_player2_container iframe{
    width: 100%;
    height: 100%;
}
.vid_player2_screen .vid_player2_container .close_player{
    position: absolute;
    top: -1em;
    right: -1em;
    font-size: 3em;
    color: #fff;
    background: none;
    border: none;
}
.vid_player2_screen .vid_player2_container .close_player:hover{
    opacity: 0.5;
}

@media (max-width: 768px) {
    .component_container .vid_2{
        padding: 0 5vw;
    }
    .vid_player2_screen .vid_player2_container{
        left: 5%;
        width: 90vw;
        height: 30em;
    }
 }
@media (max-width: 577px) {
    .component_container .vid_2{
        padding: 0 8vw;
    }
    .vid_player2_screen .vid_player2_container{
        left: 5%;
        width: 90vw;
        height: 20em;
    }
 }